---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tag “{{ tag }}”"
  metaDescription: "Všechny příspěvky označené tagem “{{ tag }}”"
---

<h1>Tag “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/blog/' | url }}">← Zpět</a>
</nav>
