<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="cs">

{% include "components/head.njk" %}

<body>

	<header>
		<em>
			<a href="{{ '/' | url }}">{{ metadata.title }}</a>

			<img src="/static/img/myslanka_192.png" alt="Okrasná miska" width="80" height="80">
		</em>
		{% include "components/nav.njk" %}
	</header>

	<main>
		{{ layoutContent | safe }}
	</main>

	{% include "components/footer.njk" %}

</body>

</html>
