---
layout: layouts/base.njk
section: blog
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/' | url }}">← Zpět</a>
</nav>
